* {
    font-family: sans-serif;
    letter-spacing: 0.07rem;
    line-height: 1.7rem;
    box-sizing: border-box;
    background-color: #222222;
    color: white;
}
nav {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    max-width: 1300px;
    margin: 0 auto;
}
.floating_text {
    background-color: rgba(40, 40, 40,.9);
    word-spacing: 0.85rem;
    position: fixed;
    margin-right: 2.5rem;
    right: 0;
    top: 0;
    padding: 0.7rem 1rem;
    font-weight: bold;
    border-radius: 3rem;
    margin-top: 2rem;
    text-align: center;
    cursor: default;
    border: 2px solid rgba(50,50,50,.85);
    z-index: 1;
    box-shadow: 7px 7px 10px rgb(25, 25, 25);
}
.qotd_button,.explore_button,.mission_button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.25rem;
    padding: 0.25rem 0.65rem 0.25rem 0.65rem;
    cursor: pointer;
}
.qotd_button:hover,.explore_button:hover,.mission_button:hover{
    background-color: red;
    border-radius: 0.85rem;
    color: #222222;
}
.quote_day,.date {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    height: 4.75rem;
}
.quote_day {
    margin-left: 2.5rem;
}
.quote_text {
    font-style: italic;
    font-size: 1.6rem;
    margin: 0 2rem 0.75rem 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}
.author_text {
    margin-left: 2.5rem;
    height: 5rem;
}
.quote_container {
    height: 12rem;
}
.description_text {
    margin-left: 2.5rem;
    margin-right: 2rem;
    height: 20rem;
    font-size: 1.2rem;
    word-spacing: 0.1rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10rem;
}
.explore_background {
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 3rem);
    padding: 2rem;
    background-color: rgb(37, 37, 37);
    height: auto;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 7px 7px 10px rgb(30, 30, 30);
}
.explore_title {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.25rem;
    height: 2.5rem;
}
.explore_description {
    background-color: transparent;
    margin-bottom: 3rem;
    font-weight:lighter;
}
.explore_quote {
    background-color: transparent;
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-style: italic;
    margin-bottom: 1rem;
}
.explore_author {
    background-color: transparent;
    height: 5rem;
}
.explore_container {
    margin-bottom: 18rem;
    position: relative;
}
.button_wrapper{
    background-color: transparent;
}
.generate_button {
    align-self: flex-end;
    margin-top: auto;
    border-radius: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    height: 2.25rem;
    width: 9.5rem;
    background-color: transparent;
    border: 2px solid white;
}
.generate_button:hover {
    background-color: red;
    border-style: none;
    color: #222222;
    cursor: pointer;
}
.mission_container {
    position: relative;
}
.mission_title {
    font-weight: bold;
    margin-left: 2.5rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.mission_description {
    margin-left: 2.5rem;
    margin-bottom: 5rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
}
.contact_bottom {
    padding-left: 2.5rem;
    padding-right: 2rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.75);
    background: rgb(37, 37, 37);
    height: 200px;
    width: 100%;
    bottom: 0;
}


@media (max-width: 480px) {
    .quote_day,.date {
        font-size: 1.05rem;
        margin-bottom: auto;
    }
    .quote_day,.quote_text,.author_text,.description_text,.mission_description,.mission_title {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .description_text {
        font-size:0.85rem;
        margin-top: 2rem;
        margin-bottom: 5rem;
    }
    .author_text {
        height: 10rem;
    }
    .quote_box {
        margin-bottom:20rem;
    }
    .quote_text,.explore_quote {
        font-size: 1.5rem;
        line-height: 2.1rem;
    }
    .contact_bottom {
        font-size: 0.7rem;
        padding: 1.5rem;
    }
    .explore_background {
        margin-bottom: 8rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        align-self: center;
        max-width: 95%;
    }
    .explore_description {
        font-size:0.85rem;
    }
    .floating_text {
        font-size: 0.5rem;
        word-spacing: 0.1rem;
        width: 90%;
        left: 1rem;
    }
    .mission_description {
        font-size:0.85rem;
    }
}