* {
    font-family: sans-serif;
    letter-spacing: 0.07rem;
    line-height: 1.7rem;
    box-sizing: border-box;
    background-color: #222222;
    color: white;
}
nav {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: Orem calc((100vw - 1300px) / 2);
}
.floating_text {
    background-color: rgba(58, 58, 58, .85);
    word-spacing: 0.85rem;
    position: fixed;
    margin-right: 2rem;
    right: 0;
    top: 0;
    padding: 0.7rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    border-radius: 3rem;
    margin-top: 2rem;
    text-align: center;
    cursor: default;
    border-color: rgba(76,76,76,.8);
    border-style: solid;
    z-index: 1;
}
.qotd_button,.explore_button,.mission_button {
    border-style: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.25rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    cursor: pointer;
}
.qotd_button:hover{
    background-color: red;
    border-radius: 0.65rem;
    color: #222222;
}
.explore_button:hover{
    background-color: red;
    border-radius: 0.65rem;
    color: #222222;
}
.mission_button:hover{
    background-color: red;
    border-radius: 0.65rem;
    color: #222222;
}
.quote_day,.date {
    display: flex;
    flex-direction: row;
    font-size:1.4rem;
    margin-bottom: 1.5rem;
}
.quote_day {
    margin-left: 2rem;
}
.quote_text {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 0.75rem;
    margin-left: 2rem;
    line-height: 2rem;
}
.author_text {
    margin-bottom: 5rem;
    margin-left: 2rem;
}
.description_text {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 18rem;
    font-size: 1.2rem;
    word-spacing: 0.1rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
}
.explore_background {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.025);;
    height: 25rem;
    border-radius: 2rem;
}
.explore_title {
    background-color: transparent;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.explore_description {
    background-color: transparent;
    margin-bottom: 3rem;
}
.explore_quote {
    background-color: transparent;
    font-size: 1.6rem;
    line-height: 2rem;
    font-style: italic;
    margin-bottom: 0.75rem;
}
.explore_author {
    background-color: transparent;
    margin-bottom: 4.5rem;
}
.explore_container {
    margin-bottom: 18rem;
    position: relative;
}
.generate_button {
    position:absolute;
    right: 4rem;
    bottom: 2.2rem;
    border-radius: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    height: 2.25rem;
    width: 9.5rem;
    background-color: transparent;
    border-style: solid;
    border-color: white;
    border-width: 0.1rem;
}
.generate_button:hover {
    background-color: red;
    border-style: none;
    color: #222222;
    cursor: pointer;
}
.mission_container {
    position: relative;
}
.mission_title {
    font-weight: bold;
    margin-left: 2rem;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.mission_description {
    margin-left: 2rem;
    margin-bottom: 5rem
}
.contact_bottom {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.75);
    background: rgba(255, 255, 255, 0.025);
    height: 150px;
    width: 100%;
    bottom: 0;
}
.email {
    color: rgba(255, 255, 255, 0.75);
    background-color: transparent;
}